{% extends "base_generic_template.html" %}

{% block content %}
<h1 >Contact Management</h1>
  <table class="center">
    <tr >
      <td class="space-right"><b>Contact Name</b></td>
      <td></td>
      <td class="space-right"><b>Email</b></td>
      <td></td>
      <td class="space"><b>Created Time</b></td>
    </tr>
  </table>
<a class="button" href="/create">Create New Contact</a>
<footer>
  <p>&copy;<a>Created by Arun Prasath Jayaprakash</a></p>
</footer>
<!--</body>-->
<!--</html>-->
{% endblock content %}
