<!DOCTYPE html>
<html>
<head>
  <style>
    h1 {text-align: center;}
    table {text-align: center;}
    </style>
  <link rel="stylesheet" href="static/style.css">
  {% if Project %}
  <title >
    Contact Management {{Project}}
  </title>
  {% else %}
  <title>
    Manage Contacts
  </title>
  {% endif %}
</head>
<body>
<h1 >Contact Management</h1>
  <table class="center">
    <tr >
      <td class="space-right"><b>Contact Name</b></td>
      <td></td>
      <td class="space-right"><b>Email</b></td>
      <td></td>
      <td class="space"><b>Created Time</b></td>
    </tr>
  </table>
<a class="button" href="/create">Create New Contact</a>
<!--{% block content%}-->
<!--{% endblock %}-->
<footer>
  <p>&copy;<a>Created by Arun Prasath Jayaprakash</a></p>
</footer>
</body>>
</html>
