{% extends "base_generic_template.html" %}

{% block content %}

<h1 >Contact Management</h1>
  <table class="center">
    <tr >
      <td class="space-right"><b>Contact</b></td>
      <td></td>
      <td class="space-center"><b>Email</b></td>
      <td></td>
      <td class="space"><b>Created Time</b></td>
    </tr>
  </table>
  <div style="width:1650px; margin:0 auto;" class="div-button">
  {% for data_key,data_value in render.items %}
      {% for value in data_value %}
    <p class>{{value.1}}  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; {{value.2}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {{value.3}}</p>
  <a class="fa_fa-pencil" style="font-size:20px" href="/edit/{{value.0}}/"><i class="fa fa-pencil"><br></i></a>
  <a class="delete-bin" style="font-size:16px" href="/create"> <i class="material-icons">delete</i></a>
    <br>

      {% endfor %}

    {% endfor %}
</div >
  <a class="div-button" href="/data_value">Create New Contact</a>
<footer>
  <p>&copy;<a>Created by Arun Prasath Jayaprakash</a></p>
</footer>
<!--</body>-->
<!--</html>-->
{% endblock content %}
