{% extends "base_generic_template.html" %}

{% block content %}
{% load render_table from django_tables2 %}
<h1 >Contact Management</h1>
  <table class="center">
    <tr >
      <td class="space-right"><b>Contact</b></td>
      <td></td>
      <td class="space-center"><b>Email</b></td>
      <td></td>
      <td class="space"><b>Created Time</b></td>
    </tr>
  </table>
<div>
  {% for data_key,data_value in render.items %}
      {% for value in data_value %}
    <p class>{{value.0}}  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; {{value.1}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {{value.2}}</p>
  <button class="fa_fa-pencil" style="font-size:17px"><i class="fa fa-pencil"><br></i></button>
  <button class="delete-bin" style="font-size:16px"> <i class="material-icons">delete</i></button>
    <br>

      {% endfor %}

    {% endfor %}
<!--  <a class="button" href="/data_value">Create New Contact</a>-->
  </div>

<footer>
  <p>&copy;<a>Created by Arun Prasath Jayaprakash</a></p>
</footer>
<!--</body>-->
<!--</html>-->
{% endblock content %}
