{% extends "base_generic_template.html" %}


{% block content%}
<h1 > Create New Contact</h1>
<form method="POST" action = 'data_value'>
     <div  style ="text-align:center;">
    {% csrf_token %}
    {{ form.as_p }}
     </div>
    <input class="button" type="submit" value="Submit">
    <input type="button" value="Cancel">
</form>
<script>
    {% if message %}
    alert('{{ message }}');
    {% endif %}
</script>
<footer>
  <p>&copy;<a>Created by Arun Prasath Jayaprakash</a></p>
</footer>
{% endblock content %}
