{% extends "base_generic_template.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<h1 >Contact Management</h1>
  <table class="center">
    <tr >
      <td class="space"><b>Are your sure you want to delete this contact?</b></td>
    </tr>
  </table>
 <form method="POST" action = '/delete/{{record.id.value}}'>
<div style="width:1650px; margin:0 auto;" class="container">
  {% csrf_token %}
    {{ record.as_p}}
  <br>
  <a class="div-button-1" type="submit" href='/delete/{{record.id.value}}'>Confirm</a>
<a class="div-button-1" href='/'>Home</a>
  </div>
</form>
<script>
    {% if message %}
    alert('{{ message }}');
    {% endif %}
</script>
<footer>
  <p>&copy;<a>Created by Arun Prasath Jayaprakash</a></p>
</footer>
{% endblock content %}