{% extends "base_generic_template.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<h1 >Contact Management</h1>
  <table class="center">
    <tr >
      <td class="space"><b>Update Contact</b></td>
    </tr>
  </table>
<div style="width:1650px; margin:0 auto;" class="container">
  <p><b>Name</b> : {{record.1}}</p>
    <p><b>Email</b> : {{record.2}}</p>
  <p><b>Created Time</b> : {{record.3}}</p>
  <br>
    <a class="div-button-1" href="/update/{{record.0}}/True">Update</a>
  <a class="div-button-1" href="/delete_confirmation/{{record.0}}">Delete</a>
<a class="div-button-1" href="/">Home</a>
  </div>

<footer>
  <p>&copy;<a>Created by Arun Prasath Jayaprakash</a></p>
</footer>
{% endblock content %}
