{% extends "base_generic_template.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<h1 >Contact Management</h1>
  <table class="center">
    <tr >
      <td class="space"><b>Update Contact</b></td>
    </tr>
  </table>
<div style="width:1650px; margin:0 auto;" class="div-button">
    <p>Name : {{record.1}}</p>
    <p>Email : {{record.2}}</p>
  <p>Created Time : {{record.3}}</p>
    <a class="div-button" href="/update/{{record.0}}/True">Update</a>
<a class="div-button" href="/">Home</a>
  </div>

<footer>
  <p>&copy;<a>Created by Arun Prasath Jayaprakash</a></p>
</footer>
{% endblock content %}
