{% extends "base_generic_template.html" %}

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--  <style>-->
<!--    h1 {text-align: center;}-->
<!--    table {text-align: center;}-->
<!--    </style>-->
<!--  <link rel="stylesheet" href="static/style.css">-->
<!--  {% if Project %}-->
<!--  <title >-->
<!--    Contact Management {{Project}}-->
<!--  </title>-->
<!--  {% else %}-->
<!--  <title>-->
<!--    Manage Contacts-->
<!--  </title>-->
<!--  {% endif %}-->
<!--</head>-->
<!--<body>-->

{% block content%}
<h1 > Create New Contact</h1>

<footer>
  <p>&copy;<a>Created by Arun Prasath Jayaprakash</a></p>
</footer>
{% endblock content %}
