{% extends "base_generic_template.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<h1 >Contact Management</h1>
  <table class="center">
    <tr >
      <td class="space"><b>Type in the details</b></td>
    </tr>
  </table>
 <form method="POST" action = 'complete'>
<div style="width:1650px; margin:0 auto;" class="div-button">
  {% csrf_token %}
    {{ record.as_p}}
  <a class="div-button" type="submit" value="Submit">Submit</a>
<a class="div-button" href='/'>Home</a>
  </div>
</form>
<footer>
  <p>&copy;<a>Created by Arun Prasath Jayaprakash</a></p>
</footer>
{% endblock content %}
