{% extends "base_generic_template.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<h1 >Contact Management</h1>
  <table class="center">
    <tr >
      <td class="space"><b>Type in the details</b></td>
    </tr>
  </table>
 <form method="POST" action = '/complete/{{record.id.value}}'>
<div style="width:1650px; margin:0 auto;" class="container">
  {% csrf_token %}
<!--    {{ record.as_p}}-->
  {% for field in record.visible_fields %}
      {% if field.name != 'id' %}
        <div class="fieldWrapper">
          {{ field.errors }}
          {{ field.label_tag }} {{ field }}
        </div>
      {% endif %}
  <br>
  {% endfor %}
  <button class="button">Submit</button>
<a class="div-button-1" href='/'>Home</a>
  </div>
</form>
<script>
    {% if message %}
    alert('{{ message }}');
    {% endif %}
</script>
<footer>
  <p>&copy;<a>Created by Arun Prasath Jayaprakash</a></p>
</footer>
{% endblock content %}
