/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 50px;
    padding: 10px 20px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

a.button {
    appearance: button;
    text-decoration: none;
    display: button;
    margin: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
    position: absolute;
   top: 20%;
   right: 43%;
   -ms-transform: translateY(50%);
   transform: translateY(50%);
}

a.button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.center {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid black;
}

.space-right {
    padding-right : 10em;
    font-size: 20px
}

.space-bottom {
    padding-bottom : 3em;
}

.space {
    font-size: 20px
}

.input_button {
    text-align:center;
    position : right;
    top: 20%;
   right: 44.5%;
}

input[type=submit] {
    appearance: button;
    text-decoration: none;
    display: button;
    margin: 10px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    /*margin: 0;*/
    position: absolute;
   top: 25%;
   right: 51%;
   -ms-transform: translateY(50%);
   transform: translateY(50%);
}

input[type=button] {
    appearance: button;
    text-decoration: none;
    display: button;
    margin: 10px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    /*margin: 0;*/
    position: absolute;
   top: 25%;
   right: 41%;
   -ms-transform: translateY(50%);
   transform: translateY(50%);
}

